<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Thuê Nhà Trọ | IHome Application</title>


    <link th:href="@{/resources/front/images/favicon.png}" rel="icon" sizes="32x32" type="image/png">
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/fontawesome/font-awesome.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/fa5/fa5.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/elegant/elegant-font.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/ionicons/ionicons.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/simpleline/simpleline.css}"
          type="text/css"/>
    <link rel="stylesheet"
          th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/gdlr-custom-icon/gdlr-custom-icon.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/plugins/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/goodlayers-core/include/css/page-builder.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/tourmaster/tourmaster.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/tourmaster-global-style-custom.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/js/plugins/tourmaster/room/tourmaster-room.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/tourmaster-room-style-custom.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/style-core.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/hotale-style-custom.css}" type="text/css"/>

    <link rel="stylesheet" th:href="@{/resources/front/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/owl.carousel.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/owl.theme.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/owl.transitions.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/animated-on3step.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/front/css/on3step-style.css}" type="text/css"/>

    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Jost%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CAmiri%3Aregular%2Citalic%2C700%2C700italic%7CAllison%3Aregular&#038;subset=cyrillic%2Clatin%2Clatin-ext%2Carabic%2Cvietnamese&#038;ver=6.0.1"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Oswald%3A200%2C300%2Cregular%2C500%2C600%2C700%7CMerriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7CJost%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CAllison%3Aregular&#038;subset=cyrillic%2Ccyrillic-ext%2Clatin%2Clatin-ext%2Cvietnamese&#038;ver=6.0.1"
            type="text/css"
    />

    <style>
        .warning {
            display: block;
            padding: 15px;
            background-color: #ffc107;
        }
        .success {
            display: block;
            padding: 15px;
            background-color: #28a745!important;
            color: #fff!important;
        }

        .success > h4, .success .textwidget p  {
            color: #fff!important;
        }
        .warning .textwidget p, .success .textwidget p {
            font-size: 17px !important;
            margin-bottom: 0;
        }
    </style>
</head>

<body
        class="home page-template-default page page-id-15043 theme-hotale gdlr-core-body tourmaster-body woocommerce-no-js hotale-body hotale-body-front hotale-full hotale-with-sticky-navigation hotale-blockquote-style-3 gdlr-core-link-to-lightbox"
        data-home-url="index.html"
>

<div th:replace="~{fragments/front/mobile :: mobile}"></div>

<div class="hotale-body-outer-wrapper">
    <div class="hotale-body-wrapper clearfix hotale-with-frame">

        <div th:replace="~{fragments/front/header :: header}"></div>

        <div class="hotale-page-wrapper" id="hotale-page-wrapper">
            <div class="tourmaster-room-single-header-title-wrap"
                 style="border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px;">
                <div class="tourmaster-room-single-header-background-overlay"></div>
                <div class="tourmaster-container"><h1 class="tourmaster-item-pdlr">Thuê Nhà Trọ</h1>
                </div>
            </div>
            <div class="gdlr-core-page-builder-body">
                <div class="gdlr-core-pbf-sidebar-wrapper gdlr-core-sticky-sidebar gdlr-core-js"
                     id="gdlr-core-sidebar-wrapper-1">
                    <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">

                        <div class="hotale-sidebar-center hotale-column-60 hotale-line-height" style="margin-top: 20px">
                            <div class="hotale-content-wrap hotale-item-pdlr clearfix">
                                <!-- hotale-comments-area -->
                                <div class="hotale-sidebar-center hotale-column-60 hotale-line-height" style="border-radius: 4px"
                                     th:if="${messageDTO != null && messageDTO.key == 'save'}"
                                     th:classappend="${messageDTO.status == 'success' ? 'success' : 'warning'}"
                                >
                                    <div class="hotale-content-wrap hotale-item-pdlr clearfix">
                                        <div id="gdlr-core-recent-post-widget-2" class="widget widget_gdlr-core-recent-post-widget hotale-widget" style="margin-bottom: 0">
                                            <h3 class="hotale-widget-title" style="margin-bottom: 10px">Thông báo</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-4">
                                                <div class="gdlr-core-recent-post-widget clearfix">
                                                    <div class="gdlr-core-recent-post-widget-content">
                                                        <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font">
                                                            <p th:text="${messageDTO.message}" style="margin-bottom: 0"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Content  -->
                        <div class="hotale-sidebar-center hotale-column-40 hotale-line-height">
                            <div class="hotale-content-wrap hotale-item-pdlr clearfix">
                                <div id="comments" class="hotale-comments-area">
                                    <div id="respond" class="comment-respond">
                                        <h4 id="reply-title" class="comment-reply-title">
                                            Thông tin khách hàng
                                        </h4>
                                        <form th:action="@{/checkout}" th:object="${bookingDTO}" enctype="multipart/form-data" method="post" id="commentform" class="comment-form">
                                            <div class="hotale-comment-form-author">
                                                <label for="author">Họ & Tên <code style="color: red; ">*</code></label>
                                                <input id="author" name="fullName" type="text" th:field="*{fullName}" placeholder="Họ & Tên*" required>
                                            </div>
                                            <div class="hotale-comment-form-email">
                                                <label for="phone">Số điện thoại <code style="color: red; ">*</code></label>
                                                <input id="phone" name="phone" style="margin-bottom: 15px" type="text" th:field="*{phone}" placeholder="Số điện thoại*"  required>
                                            </div>
                                            <div class="hotale-comment-form-url">
                                                <label for="billImage">Hóa đơn <code style="color: red; ">*</code></label>
                                                <input id="billImage" name="billMul" style="margin-bottom: 15px" type="file" accept="image/*" required>
                                            </div>
                                            <div class="comment-form-comment">
                                                <label for="note">Ghi Chú</label>
                                                <textarea id="note" name="note" style="margin-bottom: 15px" cols="30" rows="8" th:field="*{note}" placeholder="Ghi Chú"></textarea>
                                            </div>
                                            <div class="clear"></div>
                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="submit" class="submit" value="Xác nhận">
                                                <input type="hidden" name="customerId" th:field="*{customerId}">
                                                <input type="hidden" name="id" th:field="*{id}">
                                                <input type="hidden" name="houseId" th:field="*{houseId}">
                                                <input type="hidden" name="price" th:field="*{price}">
                                                <input type="hidden" name="date" th:field="*{date}">
                                                <input type="hidden" name="identityImage" th:field="*{identityImage}">
                                            </p>
                                        </form>
                                    </div>
                                    <!--  -->
                                </div>
                                <!-- hotale-comments-area -->
                            </div>
                        </div>
                        <!--  Book  -->
                        <div class="hotale-sidebar-right hotale-column-20 hotale-line-height hotale-line-height">
                            <div class="hotale-sidebar-area hotale-item-pdlr">
                                <div id="text-5" class="widget widget_text hotale-widget">
                                    <h1 class="hotale-widget-title" style="margin-bottom: 10px">Thanh Toán</h1>
                                    <div class="hotale-sidebar-center hotale-column-60 hotale-line-height success">
                                        <div class="hotale-content-wrap hotale-item-pdlr clearfix">
                                            <div id="gdlr-core-recent-post-widget-3" style="margin-bottom: 0" class="widget widget_gdlr-core-recent-post-widget hotale-widget">
                                                <span class="clear"></span>
                                                <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-4" style="padding-top: 0">
                                                    <div class="gdlr-core-recent-post-widget clearfix" style="margin-bottom: 0">
                                                        <div class="gdlr-core-recent-post-widget-content">
                                                            <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font">
                                                                <p th:text="${bookingDTO.houseDTO.banking}" style="margin-bottom: 0"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="gdlr-core-recent-post-widget-1" class="widget widget_gdlr-core-recent-post-widget hotale-widget">
                                    <h1 class="hotale-widget-title" style="margin-bottom: 10px">Thông tin nhà trọ</h1>
                                    <span class="clear"></span>
                                    <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-4">
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font">
                                                    <a th:href="@{'/house-detail/' + ${bookingDTO.houseDTO.id}}" th:text="${bookingDTO.houseDTO.name}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="text-6" class="widget widget_text hotale-widget">
                                    <h1 class="hotale-widget-title" style="margin-bottom: 10px">Giá tiền</h1>
                                    <span class="clear"></span>
                                    <div class="textwidget">
                                        <p th:text="${bookingDTO.houseDTO.price} + ' VNĐ'"></p>
                                    </div>
                                </div>
                                <div id="text-7" class="widget widget_text hotale-widget">
                                    <h1 class="hotale-widget-title" style="margin-bottom: 10px">Địa chỉ</h1>
                                    <span class="clear"></span>
                                    <div class="textwidget">
                                        <p th:text="${bookingDTO.houseDTO.address + ', ' + bookingDTO.houseDTO.districts + ', ' + bookingDTO.houseDTO.cityName}"></p>
                                    </div>
                                </div>
                                <div id="text-8" class="widget widget_text hotale-widget">
                                    <h1 class="hotale-widget-title" style="margin-bottom: 10px">Ngày thuê</h1>
                                    <span class="clear"></span>
                                    <div class="textwidget">
                                        <p th:text="${bookingDTO.date}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div th:replace="~{fragments/front/footer :: footer}"></div>

</div>

<script type="text/javascript" th:src="@{/resources/front/js/jquery.min.js}" id="jquery-core-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/jquery-migrate.min.js}" id="jquery-migrate-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/ui/core.min.js}" id="jquery-ui-core-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/ui/datepicker.min.js}"
        id="jquery-ui-datepicker-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/ui/effect.min.js}" id="jquery-effects-core-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/tourmaster/tourmaster.js}"
        id="tourmaster-script-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/tourmaster/room/tourmaster-room.js}"
        id="tourmaster-room-script-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/jquery.mmenu.js}"
        id="hotale-jquery-mmenu-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/jquery.superfish.js}"
        id="hotale-jquery-superfish-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/script-core.js}"
        id="hotale-script-core-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/jquery.flexslider-min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/goodlayers-core/plugins/script.js}"
        id="gdlr-core-plugin-js"></script>
<script type="text/javascript" th:src="@{/resources/front/js/plugins/goodlayers-core/include/js/page-builder.js}"
        id="gdlr-core-page-builder-js"></script>

<script th:src="@{/resources/front/js/pluginson3step.js}" type="text/javascript"></script>
<script th:src="@{/resources/front/js/sticky.js}" type="text/javascript"></script>
<script type="text/javascript" th:src="@{/resources/front/js/jquery.dateselect.js}"></script>
<!-- slider revolution  -->
<script type="text/javascript" th:src="@{/resources/front/js/jquery.themepunch.revolution.min.js}"></script>
<!-- on3step JS -->
<script th:src="@{/resources/front/js/on3step.js}" type="text/javascript"></script>
<script th:src="@{/resources/front/js/plugin-set.js}" type="text/javascript"></script>

</body>
</html>
